.mainFourth {
    width: 100%;
    background-image: url('../assets/background2.svg');
    background-repeat: no-repeat;
    margin-top: 210px;
    justify-content: space-around;
    flex-wrap: nowrap;

   .mobile {
       width: 35%;
       margin-top: 120px;
       height: 10%;
       color: #fff;
       
       h1 {
        font-size: 21pt;
       }
       
       p {
           font-size: 13pt;
       }
   }

   .phones {
       justify-content: flex-start;
       flex-wrap: nowrap;
       width: 60%;
       overflow: hidden;
       
       img {
           position: relative;
           bottom: 60px;
       }

       img:nth-child(2) {
           bottom: 150px
       }
   }
    @media (max-width: 800px) {
        
        .mobile {
            width: 40%;
            padding-left: 20px;
            margin-top: 100px;
        }

        .phones {
            img {
                width: 40%;
                bottom: 150px;
            }

            img:nth-child(2) {
                bottom: 220px;
            }
        }
    }
    @media (max-width: 500px) {
        justify-content: flex-start;
        flex-wrap: nowrap;
        
        .mobile {
            margin-top: 40px;
            width: 41%;
            padding-left: 6px;
            
            h1 {
                font-size: 13pt;
            }

            p {
                font-size: 10pt;
            }
        }

        .phones {
            width: 42%;
            img {
                width: 65%;
                height: 90%;
                bottom: 0;
            }
            img:nth-child(2) {
                bottom: 30px;
            }
        }
    }
    @media (max-width: 400px), (max-height: 600px) {
        .mobile {
            width: 55%;
            margin-top: 32px;
        }
        .phones {
            img {
                width: 63%;
                left: 0px;
            }
        }
    }
}